// FORMS ELEMENTS
form {
  @include box-sizing;
   width: 95%;
   margin: 0 auto;

  label {
    display: block;
    position: relative;
  }

  i {
    position: absolute;
    top: 16px;
    left: 8px;
    color: $form-text-color-active;
  }

  input[type="text"],
  textarea {
    padding: 10px;
    border-radius: $br;
    width: 100%;
    font-size: 1em;
    margin: 5px 0;

    &.active {
      color: $form-text-color-active;
      border: 1px solid $form-border-color-active;
    }
    &.inactive {
      color: $form-text-color-inactive;
      border: 1px solid $form-border-color-inactive;
    }
    &.error {
      color: $form-text-color-error;
      border: 1px solid $form-border-color-error;
    }
    &.icon {
      padding: 10px 10px 10px 30px;
    }
  }
}
@include tablet {
  form {
    width: 75%;
    margin: 0 auto;

    input[type="text"],
    textarea {
      width: 100%;
    }
  }
}


// CATEGORY LISTS
.category-list-container {
  max-width: 95%;
  margin: 0 auto;
}

@include tablet {
  .category-list-container {
    width: 100%;
    max-width: 300px;
  }
}
.category-list {

  .category-list-btn {
     width: 100%;
     max-width: 110px;
     text-align: left;
     border-radius: 0;

     @include background-colors();

  }
  li {
    border-bottom: 1px dotted $grey;
    padding: .5rem 0;

    &:last-of-type {
      border-bottom: 0;
    }
  }
  .category-list-date {
    font-weight: 700;

   @include text-colors();
  }
}

//SIDEBAR HEADER
.sidebar-header {
  border-bottom: 5px solid $red;
}

.media-block-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  max-width: calc(100vw - 10px);
  margin: 0 auto;

  .media-block {
    @include box-sizing;
    display: grid;
    color: $white;
    font-weight: 700;
    // align-items: end;

    .media-block-eyebrow {
      @include background-colors();
       font-size: 0.8rem;
       height: 20px;
       line-height: 20px;
    }


    .media-block-eyebrow,
    .media-block-title,
    .media-block-cta {
      padding-left: 5px;
    }

    .media-block-title,
    .media-block-cta {
      max-width: 190px;
    }

    .media-block-title {
      align-self: end;
    }

    .media-block-cta {
     @include background-colors();
      text-transform: uppercase;
      font-size: 0.8rem;
      color: $white;
      height: 30px;
      line-height: 30px;
    }
    &.small {
      @include gradient-overlay("media-block-small-bg.jpg");
      height: 200px;
    }
    &.med {
      @include gradient-overlay("media-block-med-bg.jpg");
    }
  }
}
